@charset "utf-8";

header#firstheader { position:relative; width:100%;  margin:0 auto; z-index:40;background-color:rgba(89,89,89,0.8); }
#firstheader h1 {  padding:10px 0 0 20px; height:75px; }

.util2 {position:absolute; right:300px; top:35.5px; }
.util2 a {color:#FFD719;  font-size:16px; font-weight:bold;}
.util { position:absolute; right:	20px; top:35px; font-size:16px;font-weight:bold; }
.util li { display:inline; padding-left:20px; }
.util a{color:white;}
#main_content {
	position: relative;
	width: 1510px;
	height: 1150px;
	margin: 0 auto;
	no-repeat;
}
#teb{
	
	position:absolute;
	bottom:80px;
	width:90%;
	height:800px;
	left:70px;
}
#academy_name{position:aboslute; width:300px; height:50px; margin-left:100px; padding-top:100px;text-align:center;font-size:50px}
#class_info{
	position: absolute;
	width: 720px;
	height: 405px;
	right: 30px;
	bottom: 50px;
	

}
#academy_info{
	position: absolute;
	top: 250px;
	right: 30px;
	width: 720px;
	height: 405px;
	font:"맑은 고딕";
	font-size:12px;
	

}
#interest{
	position: absolute;
	right:60px;
	top: 110px;
}
#GRAY_BAR{
	position: absolute;
	width: 10px;
	height: 405px;
	left: 0px;
}
#BLUE_BAR{
	position: absolute;
	width: 10px;
	height: 315px;
	left: 0px;
	bottom: 20px;
}
#location{
	position:absolute;
	width:100px;
	left:20px;
	top:20px;
	font-weight:bold;
}
#location2{
	position:absolute;
	width:560px;
	right:20px;
	top:20px;
	font-size:12px;
	font-weight:lighter;
}
#phone_number{
	position:absolute;
	width:100px;
	left:20px;
	top:60px;
	font-weight:bold;
}
#phone_number2{
	position:absolute;
	font-weight:lighter;
	width:560px;
	right:20px;
	top:60px;
}
#academy_introduce{
	position:absolute;
	width:100px;
	left:20px;
	top:100px;
	font-weight:bold;
}
#academy_introduce2{
	position:absolute;
	font-weight:lighter;
	width:560px;
	right:20px;
	top:100px;
}

#class_video{
	position: absolute;
	bottom: 50px;
	left: 20px;
	width: 720px;
	height: 405px;

}
#slider
{
	overflow: hidden;
	margin: 0 auto;
	width: 720px;
	height: 405px;
	position: absolute;
	top: 436px;
	left: 236px;
	
	
}

#video{position:absolute; bottom:0px;}

#selectmenu{
	width: 720px;
	position: absolute;
	top: 554px;
	left: -8px;
}



#gnb:after { content:""; display:block; clear:both; }
#gnb { position:absolute; top:94px; width:100%; background-color:rgba(89,89,89,0.8);   z-index:10; }
#gnb  ul { float:left; text-align:center;list-style-type: none; margin: 0;}
#gnb li { float:left;  width:150px;  height:39px; text-align:center;  }
#gnb li:first-child {border-left:1px solid #bbb;}
#gnb li .mm { float:left; width:150px; height:29px; text-align:center; padding-top:10px; color: #FFFFFF;  text-decoration: none; }
#gnb li:hover {background-color: rgba(192,192,192,0.3); cursor:pointer;}
#gnb li ul { display:none; position:relative; right:0px; text-align:center; }
#gnb li ul li { border: 1px dotted white ;  text-align:center;  padding-top:10px; height:30px;} /*드랍다운 메뉴 CSS*/
/*네비게이션 바 누를시 나오는것*/
#gnb li ul li:hover {color:#ffffff; cursor: pointer;}
#item {position:absolute; right:20px;float:left; padding-top:11px; text-align:center; font-size:15px; width:60px; height:29px;}
#item a{ color:white;}
/* slider */ 

#bar {
	position: absolute;
	top: 170px;
	left: 75px;
	width: 350px;
	height: 3px;
	
}
#slider .button
{
	display: inline-block;
	background: #0074C6;
	color: #ffffff;
	text-align: center;
	line-height: 50px;
	height: 50px;
	text-decoration: none;
	outline: 0;
	border-radius: 8px;
	font-size: 1.25em;
	border-bottom: solid 2px #0054A6;
	text-shadow: 0 1px 1px #003A6C;
}

#slider .button:hover
{
	background: #2094E6;
}

#slider .viewer
{
	width: 720px;
	height: 405px;
	margin: 0 auto;
	overflow: hidden;
}

#slider .viewer .reel
{
	display: none;
}

#slider .viewer .reel .slide
{
	position: relative;
	
	text-align: center;
	width: 720px;
	height: 405px;
}

#slider .viewer .reel h2
{
	position: absolute;
	top: 230px;
	left: 0;
	padding: 0px 30px;
	line-height: 80px;
	background: #111111;
	text-align: center;
	opacity: 0.75;
	font-weight: normal;
	font-family: 'Archivo Narrow', sans-serif;
	color: #ffffff;
	font-size: 4.50em;
}

#slider .viewer .reel p
{
	position: absolute;
	top: 310px;
	left: 0;
	display: block;
	padding: 5px 35px;
	background: #0074C6;
	text-align: center;
	opacity: 0.75;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: normal;
	color: #ffffff;
	font-size: 2.00em;
}

#slider .indicator
{
	margin: auto auto 0 auto;
	position:absolute;
	bottom:5px;
	right:300px;
}

#slider .indicator ul
{
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

#slider .indicator ul li
{
	display: inline-block;
	width: 14px;
	height: 14px;
	text-indent: -9999em;
	background: #c8c8c8;
	margin: 0 2px 0 2px;
	border-radius: 8px;

	border-top: solid 1px #909090;
}

#slider .indicator ul li.active
{
	background: #505050;
	border-top: solid 1px #505050;
}
