@charset "utf-8";

html, body {width: 100%; height: 100%; margin:0; padding:0; font-family:'NGothic'; background-color:#ffffff;}

/* 상단 바   */
.logo{position:relative; width:100%; min-width:1000px; height:114px; background-color:#595959; box-shadow:0px 2px 4px rgba(0,0,0,0.3);}
.logo img{margin:10px 0px 0px 20px; height:50px;}
.logo hr { border: dotted 1px white; margin:10px 20px 0px 20px;}
.util { position:absolute; right:50px; top:30px; font-size:15px;font-weight:bold; }
.util a{color:#ffffff; text-decoration:none; }
.util a:hover{color:#FFC000;}
.util li { display:inline; padding-left:40px;  color:#ffffff; text-decoration:none;}
.util li:hover{color:#FFC000;}

#main_content {position:relative; top:70px; width: 1000px; margin: auto;}
#main_content .academy_name{position:relative; height:60px;}
#main_content .academy_name .academy_p{font-size:35px; font-family:'NGothicEB'; color:#000000; letter-spacing:20px; float:left; margin-left:10px;}
#main_content .academy_name #interest{height:40px; float:right;margin-right:18px; cursor:pointer;}
#main_content .academy_name #pay{height:40px; float:right;margin-right:18px; cursor:pointer;}

#teb{position:relative; top:20px; width: 1000px; margin:auto;}

#class_info{
	position: absolute;
	width: 720px;
	height: 405px;
	right: 30px;
	bottom: 50px;
	

}
#information
{
	text-align:left;
	margin-bottom:85px;
}
#information h2
{
	
	font-weight:bold;
	font-size:20px;
}

#academy_info{
	position: absolute;
	top: 250px;
	right: 30px;
	width: 720px;
	height: 405px;
	font:"맑은 고딕";
	font-size:12px;
	

}
#name {
 	display: flex;
}

#name_name {
  order: 1;
  width: 15%;
  padding: 50px 0px 0px 30px;

}
#name_content {
	order: 2;
	width: 85%;
	padding: 50px 0px 0px 30px;
}
#name_content h2{
	font-weight:inherit;
	color:#595959;
}
#address {
	display: flex;
	margin-bottom: 75px;
}

#address_name {
  order: 1;
  width: 15%;
  padding: 50px 0px 0px 30px;

}
#address_name h2{
	font-size:20px;
}

#address_content {
	order: 2;
	width: 85%;
	padding: 50px 0px 0px 30px;	
}
#address_content h2{
	font-weight:inherit;
	color:#595959;
	font-size:20px;
}
#career {
 	display: flex;
}

#career_name {
  order: 1;
  width: 15%;
  padding: 50px 0px 0px 30px;

}
#career_content {
	order: 2;
	width: 85%;
	padding: 50px 0px 0px 30px;
}
#career_content h2{
	font-weight:inherit;
	color:#595959;
}
#book {
 	display: flex;
}

#book_name {
  order: 1;
  width: 15%;
  padding: 50px 0px 0px 30px;

}
#book_content {
	order: 2;
	width: 85%;
	padding: 50px 0px 0px 30px;
}
#book_content h2{
	font-weight:inherit;
	color:#595959;
}

#etc {
 	display: flex;
}

#etc_name {
  order: 1;
  width: 15%;
  padding: 50px 0px 0px 30px;

}
#etc_content {
	order: 2;
	width: 85%;
	padding: 50px 0px 0px 30px;
}
#etc_content h2{
	font-weight:inherit;
	color:#595959;
}
#period {
 	display: flex;
}

#period_name {
  order: 1;
  width: 15%;
  padding: 50px 0px 0px 30px;

}
#period_content {
	order: 2;
	width: 85%;
	padding: 50px 0px 0px 30px;
}
#period_content h2{
	font-weight:inherit;
	color:#595959;
}
#day {
 	display: flex;
}

#day_name {
  order: 1;
  width: 15%;
  padding: 50px 0px 0px 30px;

}
#day_content {
	order: 2;
	width: 85%;
	padding: 50px 0px 0px 30px;	
}
#day_content h2{
	font-weight:inherit;
	color:#595959;
}

#time {
 	display: flex;
}

#time_name {
  order: 1;
  width: 15%;
  padding: 50px 0px 0px 30px;

}
#time_content {
	order: 2;
	width: 85%;
	padding: 50px 0px 0px 30px;	
}
#time_content h2{
	font-weight:inherit;
	color:#595959;
}

#money {
 	display: flex;
}

#money_name {
  order: 1;
  width: 15%;
  padding: 50px 0px 0px 30px;

}
#money_content {
	order: 2;
	width: 85%;
	padding: 50px 0px 0px 30px;	
}
#money_content h2{
	font-weight:inherit;
	color:#595959;
}

#introduce {
 	display: flex;
}

#introduce_name {
  order: 1;
  width: 15%;
  padding: 50px 0px 0px 30px;

}
#introduce_content {
	order: 2;
	width: 85%;
	padding: 50px 0px 0px 30px;
}
#introduce_content h2{
	font-weight:inherit;
	color:#595959;
}

#curriculum {
 	display: flex;
}

#curriculum_name {
  order: 1;
  width: 15%;
  padding: 50px 0px 0px 30px;

}
#curriculum_content {
	order: 2;
	width: 85%;
	padding: 50px 0px 0px 30px;
}
#curriculum_content h2{
	font-weight:inherit;
	color:#595959;
}
#cat{
	text-align: left;
}
#cat h3{
	font-size:18px;
	color:#595959;
	font-weight:inherit;
}

#cat_name{
   order: 1;
   width: 20%;
   float:left;

}
#cat_name h3{
   font-size:20px;
   color:#595959;
   width:100px;
}

#cat_content {
   order: 2;
   width: 70%;
   padding-bottom:50px;
   float:left;
}

#category {
 	display: flex;
}

#category_name {
  order: 1;
  width: 15%;
  padding: 50px 0px 0px 30px;

}
#category_content {
	order: 2;
	width: 85%;
	padding: 50px 0px 0px 30px;	
}
#category_content h2{
	font-weight:inherit;
	color:#595959;
}
#large
{
	margin-top:0px;
	margin-left:5px;
	width:auto;
	height:auto;
}
#small
{
	margin-bottom:0px;
	margin-left:60px;
	width:auto;
	height:auto;
}
#category_content div
{
	float:left;
}

#large h2
{
	font-weight:inherit;
	color:#595959
}
#small h2
{
	font-weight:inherit;
	color:#595959
}



#GRAY_BAR{
	position: absolute;
	width: 10px;
	height: 405px;
	left: 0px;
}
#BLUE_BAR{
	position: absolute;
	width: 10px;
	height: 315px;
	left: 0px;
	bottom: 20px;
}
#location{
	position:absolute;
	width:100px;
	left:20px;
	top:20px;
	font-weight:bold;
}
#location2{
	position:absolute;
	width:560px;
	right:20px;
	top:20px;
	font-size:12px;
	font-weight:lighter;
}
#phone_number{
	position:absolute;
	width:100px;
	left:20px;
	top:60px;
	font-weight:bold;
}
#phone_number2{
	position:absolute;
	font-weight:lighter;
	width:560px;
	right:20px;
	top:60px;
}
#academy_introduce{
	position:absolute;
	width:100px;
	left:20px;
	top:100px;
	font-weight:bold;
}
#academy_introduce2{
	position:absolute;
	font-weight:lighter;
	width:560px;
	right:20px;
	top:100px;
}

#class_video{
	margin-top:40px;
	margin-left:55px;
	margin-bottom:150px;
	width: 90%;
	height: 605px;
}

#map
{
	width: 950px;
	height:500px;
	border:1px solid #000000;
	margin: 20px auto;
	overflow: hidden;
}

#video{
	
	width:100%;
	height:605px;;
	margin:auto;
	}

#selectmenu{
	width: 720px;
	margin-top:40px;
}



#gnb:after { content:""; display:block; clear:both; }
#gnb { position:absolute; top:94px; width:100%; background-color:rgba(89,89,89,0.8);   z-index:10; }
#gnb  ul { float:left; text-align:center;list-style-type: none; margin: 0;}
#gnb li { float:left;  width:150px;  height:39px; text-align:center;  }
#gnb li:first-child {border-left:1px solid #bbb;}
#gnb li .mm { float:left; width:150px; height:29px; text-align:center; padding-top:10px; color: #FFFFFF;  text-decoration: none; }
#gnb li:hover {background-color: rgba(192,192,192,0.3); cursor:pointer;}
#gnb li ul { display:none; position:relative; right:0px; text-align:center; }
#gnb li ul li { border: 1px dotted white ;  text-align:center;  padding-top:10px; height:30px;} /*드랍다운 메뉴 CSS*/
/*네비게이션 바 누를시 나오는것*/
#gnb li ul li:hover {color:#ffffff; cursor: pointer;}
#item {position:absolute; right:20px;float:left; padding-top:11px; text-align:center; font-size:15px; width:60px; height:29px;}
#item a{ color:white;}
/* slider */ 

#bar {
	position: absolute;
	top: 170px;
	left: 75px;
	width: 350px;
	height: 3px;
	
}
/* slider */
#slider .button
{
	display: inline-block;
	background: #0074C6;
	color: #ffffff;
	text-align: center;
	line-height: 50px;
	height: 50px;
	text-decoration: none;
	outline: 0;
	border-radius: 8px;
	font-size: 1.25em;
	border-bottom: solid 2px #0054A6;
	text-shadow: 0 1px 1px #003A6C;
}

#slider .button:hover
{
	background: #2094E6;
}
#slider
{
	
	overflow: hidden;
	padding-top:40px;
	margin:auto;
	width: 1000px;
	height:700px;

}

#slider .viewer
{
	position:relative;
	width: 1000px;
	height:500px;
	margin: auto;
	overflow: hidden;
}

#slider .viewer .reel
{
	display: none;
}

#slider .viewer .reel .slide
{
	position: relative;
	text-align: center;
	width: 1000px;
	height:500px;
	overflow: hidden;
	
	
}
#slider .viewer .reel .slide img
{  				/*//비효율적이다*/

	width: 700px;
	height:auto;
	
}

#slider .viewer .reel h2
{
	position: absolute;
	top: 230px;
	left: 0;
	padding: 0px 30px;
	line-height: 80px;
	background: #111111;
	text-align: center;
	opacity: 0.75;
	font-weight: normal;
	font-family: 'Archivo Narrow', sans-serif;
	color: #ffffff;
	font-size: 4.50em;
}

#slider .viewer .reel p
{
	position: absolute;
	top: 310px;
	left: 0;
	display: block;
	padding: 5px 35px;
	background: #0074C6;
	text-align: center;
	opacity: 0.75;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: normal;
	color: #ffffff;
	font-size: 2.00em;
}

#slider .indicator
{
	margin-top:20px;
	
	
}

#slider .indicator ul
{
	position:absolute;
	right:44%;
	z-index:10;
	list-style: none;
	padding: 0;
	margin: 10px;
}

#slider .indicator ul li
{
	display: inline-block;
	width: 14px;
	height: 14px;
	text-indent: -9999em;
	background: #c8c8c8;
	margin: 0 2px 0 2px;
	border-radius: 8px;

	
}

#slider .indicator ul li.active
{
	background: #FFD757;
	
}




/* info div */
.info_div{width:100%; min-width:1000px; background-color:#A6A6A6; margin-top:300px; }
.info_div .info_bottom{position:relative; width:1300px; height:200px; margin:auto; }
.info_div .info_bottom .info_logo{padding:50px 0px 0px 100px; color:#ffffff; font-family:'NGothicEB';}
.info_div .info_bottom .info-address{ float:left; width:450px;  margin:0px 30px 30px 90px; color:#ffffff;}
.info_div .info_bottom .info_text{margin:10px; font-size:13px;}
