@charset "utf-8";
/*
/* 
 * HTML5 ✰ 표준 문안
 *
 * 브라우저 간 스타일 지정에 대한 수많은 연구 끝에 다음과 같은 결과를 얻었습니다. 
 * 연구에 많은 도움을 주신 Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, 그리고 H5BP 개발자 커뮤니티와 팀에게 깊은 감사를 드립니다.
 *
 * 이 CSS에 대한 자세한 정보: h5bp.com/css
 * 
 * Dreamweaver 수정 사항:
 * 1. 선택 영역 강조 표시가 주석 처리됨
 * 2. 미디어 쿼리 섹션이 제거됨(별도의 파일에 직접 추가함)
 *
 * ==|== 정규화 ==========================================================
 */


/* =============================================================================
   HTML5 표시 정의
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   기본
   ========================================================================== */

/*
 * 1. IE6/7에서 em 단위를 사용하여 body font-size를 설정할 때 텍스트 크기를 홀수 단위로 조정
 * 2. IE 이외에서 수직 스크롤 막대 고정
 * 3. 장치 방향이 변경될 때 사용자 확대/축소 기능을 비활성화하지 않고 iOS 텍스트 크기 조정 방지: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * 선택 영역 강조 표시에서 text-shadow 제거: h5bp.com/i
 * 이러한 선택 영역 선언은 구분되어야 합니다.
 * 옵션: 선명한 분홍을 사용하거나 디자인에 맞게 배경색을 사용자 정의하십시오.
 */

/* Dreamweaver: 선택 영역 강조 표시를 사용자 정의하려면 다음의 주석 처리를 제거하십시오.
 *::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
 *::selection { background: #fe57a1; color: #fff; text-shadow: none; }
 */

/* =============================================================================
   링크
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* 모든 브라우저에서 포커스가 있거나 마우스가 가리키는 영역의 가독성 향상: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   타이포그라피
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* monospace 글꼴 패밀리 재선언: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* 모든 브라우저에서 서식 유지 텍스트의 가독성 향상 */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* 행 높이에 영향을 주지 않고 아래 첨자 및 위 첨자 내용 배치: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   목록
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   포함된 컨텐트
   ========================================================================== */

/*
 * 1. IE7에서 크기 조절 시 이미지 품질 향상: h5bp.com/d
 * 2. 이미지 컨테이너에서 이미지와 테두리 사이의 간격 제거: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * IE9에서 오버플로를 숨기지 않도록 수정 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   그림
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   양식
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 'label'이 관련 양식 요소로 포커스를 이동하도록 지정 */
label { cursor: pointer; }

/* 
 * 1. IE6/7/8/9에서 색상을 상속하지 않도록 수정 
 * 2. IE6/7에서 정렬 표시를 홀수 단위로 수정 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. 모든 브라우저에서 글꼴 크기를 상속하지 않도록 수정
 * 2. FF3/4 S5 Chrome에서 여백 제거
 * 3. 모든 브라우저에서 일관적인 수직 정렬 표시 정의
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. FF3/4에 맞게 line-height를 normal로 정의(UA 스타일시트의 !important를 사용하여 설정됨)
 * 2. IE6/7에서 내부 간격 표시를 홀수 단위로 수정
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * IE6/7에서 겹치는 문제와 공백 문제를 피해기 위해 'table'에 내부 간격 다시 적용
 */

table button, table input { *overflow: auto; }

/*
 * 1. 클릭할 수 있는 양식 요소에 대해 손 커서 표시
 * 2. iOS에서 클릭할 수 있는 양식 요소의 스타일 지정 허용
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * 일관적인 상자 크기 조절 및 모양
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * FF3/4에서 내부 패딩 및 테두리 제거: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. IE6/7/8/9에서 기본 수직 스크롤 막대 제거 
 * 2. 수직 크기 조절만 허용
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* 양식의 유효성 확인을 위한 색상 */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   표
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== 주요 스타일 =====================================================
   작성자: 
   ========================================================================== */
















/* ==|== 무의미 도우미 클래스 ========================================
   이 섹션은 스타일을 정의한 후에 보십시오.
   ========================================================================== */

/* 이미지를 바꾸는 경우 */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* 화면 판독기와 브라우저에서 숨기기: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* 시각적으로만 숨기고 화면 판독기에서 사용할 수 있도록 함: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* 키보드로 탐색할 때 포커스를 가질 수 있도록 .visuallyhidden 클래스를 확장: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* 화면 판독기에서 시각적으로 숨기고 레이아웃 유지 */
.invisible { visibility: hidden; }

/* 부동 포함: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== 인쇄 스타일 =======================================================
   인쇄 스타일.
   필요한 HTTP 연결을 피하기 위해 인라인됨: h5bp.com/r
   ========================================================================== */
 
 @media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* 검정 인쇄가 더 빠름: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* 이미지 링크 또는 javascript/내부 링크 표시 금지 */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
