@charset "utf-8";

html, body {width: 100%; height: 100%; margin:0; padding:0; font-family:'NGothic'; background-color:#E2E2E2;}

/* 상단 바   */
.logo{position:relative; width:100%; height:114px; background-color:#595959; box-shadow:0px 2px 4px rgba(0,0,0,0.3);}
.logo img{margin:10px 0px 0px 20px; height:50px;}
.logo hr { border: dotted 1px white; margin:10px 20px 0px 20px;}
.util { position:absolute; right:50px; top:30px; font-size:15px;font-weight:bold; }
.util a{color:#ffffff; text-decoration:none; }
.util a:hover{color:#FFC000;}
.util li { display:inline; padding-left:40px; }


.container{position:relative; top:114px;}

/*로그인 로고 부분*/
.login{font-size:40px; font-family:'NGothicEB'; color:#595959; position:relative; height:65px; width:500px; text-align:center; margin:auto; border-bottom:1px solid #595959; }

/*로그인 부분*/
.login_div{position:relative; top:50px; width:400px; height:500px; text-align:center; margin:auto; }
.input_box{background-color:#ffffff; border:1px solid #595959; width:400px;}
.input_box hr{border: 1px dotted #8C8C8C;}
.login_div .error{margin:10px 0px 0px 3px;font-size:15px;color:#f00}
.login_div .login_id {height: 50px; width: 380px; border: 0px solid #ccc; font-size:15px;}
.login_div .login_pw {height: 50px; width: 378px; border: 0px solid #ccc; font-size:15px;}
.login_div .login_img {width: 400px; margin-top:60px; cursor: pointer;}
.login_div .login_facebook {width: 400px; margin-top:15px; cursor: pointer;}
.login_div .register {width: 400px; margin-top:15px; cursor: pointer;}
.login_div .copyright {width: 400px; margin-top:60px;}