@charset "utf-8";

@media (min-width:1024px) {/* 최소 1024 ~ 최대 ------------------------------------------------------------------------------------------------------- */

header#firstheader { position:relative; width:1510px; margin:0 auto; z-index:40; background-color:rgba(204,204,204,0.1); repeat-x;}
#firstheader h1 {  padding:10px 0 0 20px; height:85px; }
.util2 {position:absolute; right:330px; top:38px; }
.util2 a {color:#10B9E0;  font-size:16px; font-weight:bold;}
.util { position:absolute; right:20px; top:35px; font-size:16px;font-weight:bold; }
.util li { display:inline; padding-left:30px; }
#main_content {
	position: relative;
	width: 1510px;
	height: 317px;
	margin: 0 auto;
	background:url("../images/main_background.png")
	no-repeat;
}
#main_background2{ position:absolute; top:90px; left:155px;
}

#content {
	position: relative;
	width: 1510px;
	background:url(../images/bubble.png) no-repeat; 
	background-position:center;
	height: 150px;
	margin: 0 auto;}
#content h1{margin:auto;padding-top:15px;}
#letter {
	position: absolute;
	left: 41px;
	bottom: 132px;
}

#sform {
	/*검색부분 배경이미지 넣기*/
	position: absolute;
	left: 585px;
	top:80px;
	height: 30px;
	width: 340px;
	border: solid 3px #1EB0D4; border-radius:10px;

}
#sform .tbox {
	position: absolute;
	left: 0px;
	height: 30px;
	width: 260px;
	border: 1px solid #ccc;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	top: 0px;
}

#sform .sbtn{left: 260px; top: 0px; position: absolute; height:32px; width:80px;}
#content h1{ width:95%; font-size: 20px; font-family:굴림체; text-align:center; padding-top:40px;}
#content h4{ width:95%; text-align:center;}
#main_subject{position:relative; width:1510px; height:900px; margin:0 auto; z-index:40;}
#subject1 {
	width: 250px;
	height: 250px;
	position: absolute;
	left: 370px;
	top: 0px;
}
#subject2 {
	width: 250px;
	height: 250px;
	position: absolute;
	top: 0px;
	left: 630px;
}
#subject3 {
	width: 250px;
	height: 250px;
	position: absolute;
	left: 890px;
	top: 0px;
	}
#subject4 {
	width: 250px;
	height: 250px;
	position: absolute;
	left: 370px;
	top:260px;
	}
#subject5 {
	width: 250px;
	height: 250px; 
	position: absolute;
	left: 630px;
	top: 260px;
}
#subject6 {
	width: 250px;
	height: 250px;
	position: absolute;
	left: 890px;
	top: 260px;
}
#subject7 {
	width: 250px;
	height: 250px;
	position: absolute;
	left: 370px;
	top: 520px;
}
#subject8 {
	width: 250px;
	height: 250px;
	position: absolute;
	left: 630px;
	top: 520px;
}
#subject9 {
	width: 250px;
	height: 250px;
	position: absolute;
	left: 890px;
	top: 520px;
}

#main_footer
{
	position:relative; width:1510px; margin:0 auto; padding:40px 0;
}
#main_footer h3{ text-align:center}
}



@media (min-width:768px) and (max-width:1023px){/* 768~1023px ------------------------------------------------------------------------------------------------------- */
	
	.util { position:absolute; right:0; top:20px; background:#7FBF00}
	.util li { display:inline; padding-left:20px; }
header#firstheader { position:relative; width:95%; margin:0 auto; z-index:40; }
	h1 { padding:26px 0 17px; height:62px; }
	#gnb { position:relative; width:95%; height:70px; margin:0 auto; }
	#gnb  ul { float:left;width:80%; }
	#gnb li { float:left; width:25%; height:39px; text-align:center; background:#3da7db;
		box-sizing:border-box;
		 -moz-box-sizing:border-box;
		 -webkit-box-sizing:border-box;
		 border-right:1px solid #06c; }
	#gnb li a.mm { float:left; width:100%;height:29px; text-align:center; padding-top:10px; color:#fff; }
	#gnb li ul { position:absolute; left:0; top:45px; display:none; }
	#gnb li.m1 ul { /*display:block;*/ width:170px; }
	#gnb li.m2 ul { left:20%; width:170px; }
	#gnb li.m3 ul { left:40%; width:280px; }
	#gnb li.m4 ul { left:60%; width:200px; }
	#main_content { position:relative; width:95%; height:460px;  z-index:30; margin: 0 auto;
	background:url("../images/메인이미지.jpg") no-repeat;
	}
	#main_content h1{ font-size:20px; color:white; position:absolute; left:20px; 	bottom:5px;}
	#sform {
	/*검색부분 배경이미지 넣기*/
	position: absolute;
	right: 384px;
	bottom: -59px;





auto; 
	height: 30px;
	width: 230px;
	}
	#sform .tbox { height:19px; width:178px; border:1px solid #ccc; background:url("../images/tbox_bg.gif") no-repeat; }
	#content {position:relative; width:95%; margin:0 auto; z-index:40;}
	#content h1{ position:relative; left:30px; width:95%; font-size: 20px; font-family:굴림체; text-align:center;}
	#content h4{ position:relative; left:40px; width:95%; text-align:center;}
	#main_subject{ position:relative; height:500px; width:95%; margin:0 auto; }
	#subject1 {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 107px;
	top: 66px;
}
	#subject2 {
	width: 200px;
	height: 200px;
	position: absolute;
	right: 116px;
	top: 35px;
	}
	#subject3 {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 217px;
	bottom: 10px;
		}
	#subject4 {
		width:200px; 
		height:200px; 
		position:absolute;;
		right:108px; bottom:10px;
		}
	#main_footer
	{
		width:95%; margin:0 auto; padding:20px 0;
	}
	#main_footer h3{ text-align:center}
}
@media (max-width:767px) {/* 최소 ~ 최대 767 */
 
	header#firstheader { position:relative; width:95%; margin:0 auto; z-index:40; }
	#firstheader h1 { width:97px; margin:0 auto;padding:15px 0; }
	#main_content{position:relative; width:95%; margin:0 auto;}
	#sform { width:98%; margin:0 auto;  padding-bottom:10px; padding-top:10px; }
	#sform .tbox { height:22px; width:83%; border:1px solid #ccc; }
	#sform .sbtn { float:right; }
	#main_content h1 {display:none;}
	.util { display:none; }
	#gnb { width:98%; margin:0 auto; }
	.gnblist { height:78px; border-top:2px solid #3da7db; border-bottom:2px solid #3da7db; }
	.gnblist li { float:left; width:50%;height:39px; background:#eee; 
							border:1px solid #999;
							box-sizing:border-box;
							-moz-box-sizing:border-box;
							-webkit-box-sizing:border-box;
	}
	.gnblist li:nth-child(1) { border-left:none; border-top:none; }
	.gnblist li:nth-child(2) { border-top:none; border-left:none; border-right:none; }
    .gnblist li:nth-child(3) { border-top:none; border-left:none; border-bottom:none; }
    .gnblist li:nth-child(4) { border:none; }
    .gnblist li a.mm { float:left; padding:10px; color:#555; text-decoration:none; }
	.gnblist li ul { display:none; }
	
	#content {width:95%; margin:0 auto;}
	#content h1{ width:90%; position:relative; left:9px; width:95%; font-size: 20px; font-family:굴림체; text-align:center;}
	#content h4{ width:15px; position:relative; left:9px; width:95%; text-align:center;}
	#main_subject{ position:relative; width:95%; margin:0 auto; height:450px; }
	#subject1 {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 55px;
	top: 10px;
}
	#subject2 {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 55px;
	bottom: 10px;
	}
	#subject3 {
	display:none;
	width: 200px;
	height: 200px;
	position: absolute;
	left: 7px;
	bottom: 20px;
		}
	#subject4 {
	display:none;
	width: 200px;
	height: 200px;
	position: absolute;
	;
	right: 7px;
	bottom: 20px;
		}
	#main_footer
	{
		width:95%; margin:0 auto; padding:20px 0;
	}
	#main_footer h3{ text-align:center}
	
}
#firstheader .util li {
	font-family: Courier New, Courier, monospace;
}
#firstheader .util li {
	font-family: 맑은 고딕;
}
#firstheader .util li {
	font-family: 맑은 고딕;
}
#content h1 {
	font-family: 맑은 고딕;
}
