@charset "utf-8";

html, body {width: 100%; height: 100%; margin:0; padding:0; font-family:'NGothic'; background-color:#C5AD57;}

/* 메인 사진 div */
.main_content{position:relative; width:100%; min-width:1300px; height:950px; background:url(../images/MAINPAGE/BACKGROUND.jpg) no-repeat; background-size:cover; background-attachment:scroll; box-shadow:0px 2px 4px rgba(0,0,0,0.3);}

/* 상단 바   */
.logo{position:relative; width:100%; min-width:1300px; height:114px;}
.logo img{margin:10px 0px 0px 20px; height:50px;}
.logo hr { border: dotted 1px white; margin:10px 20px 0px 20px;}
.util { position:absolute; right:50px; top:30px; font-size:15px;font-weight:bold; }
.util a{color:#ffffff; text-decoration:none; }
.util a:hover{color:#FFC000;}
.util li { display:inline; padding-left:40px; }

/* 메인 작업 */
.logo_content{position:relative; top:60px; width:1300px;margin:auto; text-align:center; }
.logo_content .content{ width:800px; margin:auto; text-align:center;}
.logo_content .content_logo{height:400px;}
.logo_content .content_text{height:80px; margin:40px 0px 40px 0px;}

/*검색 부분*/
.logo_content .content_search{width:430px; height: 45px; margin:auto; }
#sform .tbox {float:left; height: 41px; width: 372px; border: solid 4px #FFC000; padding-left:5px; border-top-left-radius: 0.5em; border-bottom-left-radius: 0.5em;}
#sform .sbtn{float:left;  height: 41px;}



/* 카테고리 div */
.category_div{width:100%; min-width:1300px; margin:auto; text-align:center;box-shadow:0px 2px 4px rgba(0,0,0,0.3);}
.category_div .category_img{height:150px; margin:50px;}


/* info div */
.info_div{width:100%; min-width:1300px; background-color:#A6A6A6; }
.info_div .info_bottom{position:relative; width:1300px; height:200px; margin:auto; }
.info_div .info_bottom .info_logo{padding:50px 0px 0px 100px; color:#ffffff; font-family:'NGothicEB';}
.info_div .info_bottom .info-address{ float:left; width:500px;  margin:0px 30px 30px 90px; color:#ffffff;}
.info_div .info_bottom .info_text{margin:10px;}




