@charset "utf-8";

html, body {width: 100%; height: 100%; overflow: hidden; margin:0; padding:0; font-family:'NGothic';}

/* 지도위 구 표시 */
.area {position: absolute; background: #fff; border: 1px solid #888; border-radius: 3px; font-size: 12px; top: -5px; left: 15px; padding:2px;}


/* 상단 바   */
.logo{position:relative; width:100%; min-width:1000px; height:90px; background-color:#595959;}
.logo img{margin:10px 0px 0px 20px; height:50px;}
.logo hr { border: dotted 1px white; margin:6px 20px 0px 20px;}
.util { position:absolute; right:50px; top:30px; font-size:15px;font-weight:bold; }
.util a{color:#ffffff; text-decoration:none; }
.util a:hover{color:#FFC000;}
.util li { display:inline; padding-left:40px;  color:#ffffff; text-decoration:none;}
.util li:hover{color:#FFC000;}

.header {
	position:relative;
	width: 100%;
	height:40px;
	text-align:center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    z-index:10;
    box-shadow:0px 2px 4px rgba(0,0,0,0.1);
}

.header li {
    float: left;
    width:150px;
    border-right: 1px solid #bbb;
}
/*
.header li:last-child {
    border-right: none;
}
*/
.header li a,.header .dropbtn {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header li a:hover,.header .dropdown:hover .dropbtn {
    background-color: #ddd;
}

.header li.dropdown {
    display: inline-block;
}

.header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
}

.header .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
     z-index: 1;
}

.header .dropdown-content a:hover {background-color: #f1f1f1;}

/*마우스 오버시!!*/
.header .dropdown:hover .dropdown-content {
    display: block;
}

.header li a.active {
    color: white;
    background-color: #1EB0D4;
}


#gnb:after { content:""; display:block; clear:both; }
#gnb { position:absolute; top:75px; width:100%; min-width:1000px; background-color:#595959; z-index:10; box-shadow:0px 2px 4px rgba(0,0,0,0.3); padding-left:30px;}
#gnb  ul { float:left;  text-align:center;list-style-type: none; margin: 0;}
#gnb li { float:left;  width:150px;  height:39px; text-align:center; cursor: pointer;}
#gnb li .high { float:left; width:150px; height:29px; text-align:center; font-weight:bold; padding-top:10px; color: #ffffff;  text-decoration: none; }
#gnb .highLi:hover {background-color: #A6A6A6;}
#gnb li ul { display:none; position:relative; right:0px; text-align:center; }
#gnb li ul li { border-bottom:2px solid #818181;  background:#FFC000;  text-align:center;  padding-top:10px; height:30px; font-size:15px;} /*드랍다운 메뉴 CSS*/
/*네비게이션 바 누를시 나오는것*/
#gnb li ul li:hover {color:#ffffff; cursor: pointer; font-weight:bold;}
#item {position:absolute; right:15px;float:left; padding-top:11px; text-align:center; font-size:13px; width:80px; height:29px;}
#item a{ color:#ffffff; font-weight:bold;}

/* 맵 구성 */
.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:13px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:absolute; top:114px; left:0; bottom:0; right:0; z-index: 1;}
#menu_wrap {position:absolute;top:90px;right:0;bottom:30px;width:405px;margin:10px 0px 0px 0px;padding:5px;overflow-y:auto;background:rgba(0, 0, 0, 0.7);z-index: 1;font-size:12px;}
.bg_white {background:#ffffff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}

/*검색 부분*/
.option{position:absolute;top:0px;right:0;width:415px; height:100px; z-index: 12; background:rgba(0, 0, 0, 0.7); text-align:center; }
#sform { height: 30px; width: 390px; border: solid 3px #FFC000; border-radius:10px; margin-left:10px;margin-top:22px;}
#sform .tbox {position: absolute;top:25px; left:13px; height: 30px; width: 311px; border: 1px solid #ccc; border-top-left-radius: 0.5em; border-bottom-left-radius: 0.5em;}
#sform .sbtn{ right: 11px; top:24px; position: absolute; width: 80px; height: 32px;}

.search_option{height:35px; text-align:right; margin:10px;}
.option .search_option .txt_option{color:#ffffff; font-size:15px; font-weight: bold;  margin:5px;}
.option .search_option .txt_option:hover{color:#FFC000;}



<!--  #placesList -->
#placesList ul { margin: 0;  padding: 0; }
#placesList li {list-style: none;}
.item {position:relative;cursor: pointer;min-height: 65px; margin-top:10px;margin-bottom:10px; }
.item span {display: block;margin-top:2px; text-overflow:ellipsis; overflow:hidden; color:#ffffff;}
.item h5 { white-space:nowrap; color:#FFC000; font-size:15px;}
.item .info{white-space:nowrap; padding:10px 5px 10px 150px; }
.info .gray {color:#ffffff; }
.info .jibun {padding-left:26px;background:url(http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
.info .tel {color:#009900;}
.item .markerbg {float:left;  position:absolute; bottom:8px; left:15px; width:120px; height:90px; background-repeat:no-repeat; background-size:contain;}


<!--Big placesList -->
.item h5, .item .bigInfo {text-overflow: ellipsis; overflow: hidden;  white-space: nowrap;}
.item .bigInfo{padding:20px; text-overflow: ellipsis; overflow: hidden;  white-space: nowrap;}
.bigInfo .gray {color:#ffffff;}
.bigInfo .tel {color:#009900;}
.item .bigbg { width:353px; height:160px; margin:5px 20px 0px 20px; background-repeat:no-repeat; background-size:contain;}

#pagination {position:absolute; right:0;bottom:0; width:415px; height:30px; z-index: 1; background:rgba(0, 0, 0, 0.7); text-align: center;}
#pagination a {display:inline-block;margin-right:15px; color:#ffffff; font-size:15px; cursor: pointer;}
#pagination .on {font-weight: bold; cursor: default;color:#FFC000;}

.seq{ margin:1px; padding-top:10px; border-radius: 5px;   }
.seq_mouse{ margin:1px; padding-top:10px; border-radius: 5px; background-color:rgba(255, 192, 0, 0.7);  }
.seq2{ margin:1px; padding-top:8px; border-radius: 5px; background:rgba(0, 0, 0, 0.7);  }

#smart{ margin:5px; padding-top:10px; border-radius: 5px; height:200px; background-color:rgba(255, 192, 0, 0.7); display:none; }
#smart .text{margin-bottom:8px; margin-left:20px; color:#000000; font-size:15px;}
#smart #login_img{width:100px; cursor: pointer; }