@charset "utf-8";

html, body {width: 100%; height: 100%; overflow: hidden; margin:0;}
.area {position: absolute; background: #fff; border: 1px solid #888; border-radius: 3px; font-size: 12px; top: -5px; left: 15px; padding:2px;}

/* 상단 바   */
.logo{position:relative; width:100%; height:70px; padding:5px 0px 0px 20px; background-color:#ffffff;}
.util { position:absolute; right:70px; top:35px; font-size:15px;font-weight:bold; }
.util li { display:inline; padding-left:40px; }

.header {
	position:relative;
	width: 100%;
	height:40px;
	text-align:center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    z-index:10;
    box-shadow:0px 2px 4px rgba(0,0,0,0.1);
}

.header li {
    float: left;
    width:150px;
    border-right: 1px solid #bbb;
}
/*
.header li:last-child {
    border-right: none;
}
*/
.header li a,.header .dropbtn {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header li a:hover,.header .dropdown:hover .dropbtn {
    background-color: #ddd;
}

.header li.dropdown {
    display: inline-block;
}

.header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
}

.header .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
     z-index: 1;
}

.header .dropdown-content a:hover {background-color: #f1f1f1;}

/*마우스 오버시!!*/
.header .dropdown:hover .dropdown-content {
    display: block;
}

.header li a.active {
    color: white;
    background-color: #1EB0D4;
}



#gnb:after { content:""; display:block; clear:both; }
#gnb { position:absolute; left:0; top:75px; width:100%; background-color:#f3f3f3; border: 1px solid #e7e7e7;  z-index:10; padding-left:20px;}
#gnb  ul { float:left; box-shadow:0px 2px 4px rgba(0,0,0,0.1); text-align:center;list-style-type: none; margin: 0;}
#gnb li { float:left;  width:150px; border-right: 1px solid #bbb; height:39px; text-align:center;  margin-right:1px; cursor: pointer;}
#gnb li:first-child {border-left:1px solid #bbb;}
#gnb li .mm { float:left; width:150px; height:29px; text-align:center; padding-top:10px; color: #666;  text-decoration: none; }
#gnb li:hover {background-color: #1EB0D4;}
#gnb li ul { display:none; position:relative; right:0px; text-align:center; }
#gnb li ul li { border: solid 1px #C0C0C0; background:#fff;  text-align:center;  padding-top:10px; height:30px;} /*드랍다운 메뉴 CSS*/
/*네비게이션 바 누를시 나오는것*/
#gnb li ul li:hover {color:#ffffff; cursor: pointer;}
#item {position:absolute; right:20px;float:left; padding-top:11px; text-align:center; font-size:13px; width:80px; height:29px;}
#item a{ color:#1EB0D4;}




/* 맵 구성 */
.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:13px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:absolute; top:115px; left:0; bottom:0; right:0; z-index: 1;}
#menu_wrap {position:absolute;top:30px;right:0;bottom:25px;width:350px;margin:10px 5px 0 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;}
.bg_white {background:#ffffff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}

/*검색 부분*/
.option{position:absolute;top:2px;right:0;width:365px; height:40px; z-index: 12; background:rgba(255, 255, 255, 0.7); text-align:center; }
#sform { height: 30px; width: 340px; border: solid 3px #1EB0D4; border-radius:10px; margin-left:10px;}
#sform .tbox {position: absolute;top:2px; left:13px; height: 32px; width: 261px; border: 1px solid #ccc; border-top-left-radius: 0.5em; border-bottom-left-radius: 0.5em;}
#sform .sbtn{ right: 11px; top: 2px; position: absolute; width: 80px; height: 32px;}


<!--  #placesList -->
#placesList ul { margin: 0;  padding: 0; }
#placesList li {list-style: none;}
.item {position:relative;cursor: pointer;min-height: 65px;}
.item span {display: block;margin-top:2px; text-overflow:ellipsis; overflow:hidden;}
.item h5, .item .info { white-space:nowrap;}
.item .info{padding:10px 5px 10px 105px; }
.info .gray {color:#8a8a8a; }
.info .jibun {padding-left:26px;background:url(http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
.info .tel {color:#009900;}
.item .markerbg {float:left; margin:5px 0 3px 5px; position:absolute; bottom:0px; left:0px; width:92px; height:92px; background-repeat:no-repeat; background-size:contain;}


<!--Big placesList -->
.item h5, .item .bigInfo {text-overflow: ellipsis; overflow: hidden;  white-space: nowrap;}
.item .bigInfo{padding:10px; text-overflow: ellipsis; overflow: hidden;  white-space: nowrap;}
.bigInfo .gray {color:#8a8a8a;}
.bigInfo .tel {color:#009900;}
.item .bigbg { width:323px; height:150px; margin:5px 5px 0px 5px; background:url(http://localhost:8080/blueboard/images/academy1.jpg) no-repeat; background-size:100%;}

#pagination {position:absolute; right:0;bottom:0; width:365px; height:30px; z-index: 1; background:#1EB0D4; text-align: center;}
#pagination a {display:inline-block;margin-right:15px; color:#ffffff; font-size:15px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}

.seq{background:#ffffff; margin:1px; border-radius: 5px; border:1px solid #BDBDBD; }


