@charset "utf-8";

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.area {
    position: absolute;
    background: #fff;
    border: 1px solid #888;
    border-radius: 3px;
    font-size: 12px;
    top: -5px;
    left: 15px;
    padding:2px;
}


.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:13px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:85%;}
#menu_wrap {position:absolute;top:0;right:0;bottom:0;width:350px;margin:10px 20px 0 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#ffffff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}

<!--  #placesList -->
#placesList ul { margin: 0;  padding: 0; }
#placesList li {list-style: none;}
.item {position:relative; overflow: hidden;cursor: pointer;min-height: 65px;}
.item span {display: block;margin-top:2px;}
.item h5, .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.item .info{padding:10px 5px 10px 105px;}
.info .gray {color:#8a8a8a;}
.info .jibun {padding-left:26px;background:url(http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
.info .tel {color:#009900;}
.item .markerbg {float:left; position:absolute;width:95px; height:95px; background:url(http://localhost:8080/blueboard/images/store7.png) no-repeat; background-size:contain;}


<!--Big placesList -->
.item span {display: block;margin-top:2px;}
.item h5, .item .bigInfo {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.item .bigInfo{padding:10px}
.bigInfo .gray {color:#8a8a8a;}
.bigInfo .tel {color:#009900;}
.item .bigbg {width:100%; height:150px; margin:5px; background:url(http://localhost:8080/blueboard/images/academy1.jpg) no-repeat; background-size:100%;}

#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}

.seq{background:#ffffff; margin:1px; border-radius: 5px; border:1px solid #BDBDBD; }

