@charset "utf-8";

html, body {width: 100%; height: 100%; margin:0; padding:0; font-family:'NGothic'; background-color:#FFFFFF;}

/* 상단 바   */
.logo{position:relative; width:100%; min-width:1000px; height:114px; background-color:#595959; box-shadow:0px 2px 4px rgba(0,0,0,0.3);}
.logo img{margin:10px 0px 0px 20px; height:50px;}
.logo hr { border: dotted 1px white; margin:10px 20px 0px 20px;}
.util { position:absolute; right:50px; top:30px; font-size:15px;font-weight:bold; }
.util a{color:#ffffff; text-decoration:none; }
.util a:hover{color:#FFC000;}
.util li { display:inline; padding-left:40px;  color:#ffffff; text-decoration:none;}
.util li:hover{color:#FFC000;}


.container{position:relative; width:1000px; top:70px; text-align:center; margin:auto;}

/*로그인 로고 부분*/
.login_logo{position:relative; height:65px; width:1000px; }
.login{font-size:40px; font-family:'NGothicEB'; color:#595959; width:600px;text-align:center; margin:auto;  }

.start_icon{width:300px; margin:100px 80px 20px 80px; cursor: pointer;}
.copyright {width: 400px; margin:100px 0px 30px 0px;}