.comm_tba1{
	font-family:'nanumgothic', '³ª´®°íµñ', 'malgun gothic', '¸¼Àº °íµñ', 'dotum', 'µ¸¿ò', sans-serif;
	
}

.comm_tab1>.tab_menu>li{
	display:inline-block;
    padding:30px;
    text-align:center;
    width:160px;
    line-height:2.3em;
    background:#E2E2E2;
    color:#000000;
	cursor:pointer;
	height:30px;
	margin-left:2px;
}

.comm_tab1>.tab_menu>li a{
	line-height:0.5em;
	font-size:23px;
	text-align:center;
}
.comm_tab1>.tab_menu>li p{
	line-height:1em;
	font-size:15px;
	text-align:center;
	margin-top:12px;
}
.comm_tab1>.tab_menu .on  {height:30px;background-color:#FFD757;}
.comm_tab1>.tab_cont>.cont {margin-top:20px;}
.comm_tab2>.tab_menu>li {
	display:inline-block;
    padding:5px;
    text-align:left;
    width:210px;
    font-weight:bold;
    background:#7D7D7D;
    color:#777;
	cursor:pointer;
}
.comm_tab2>.tab_menu .on  {background-color:#424242;}
.comm_tab2>.tab_menu>li a {
	font-family:"NGothic";
	font-size:17px;
	color:white;
}
a {color:#000000;text-decoration:none;}
